* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/Background.jpg);
}

.small {
    color: darkgoldenrod;
    font-size: larger;
    align-content: center;
    margin-left: 4rem !important;
}

.one h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
    margin-left: 5rem;
}

.one h6{
    color: #fff;
    margin-left: 5rem;
}

.btn {
    background: orangered !important;
    margin-top: 50px;
    margin-left: 5rem;
}

.img1 {
    position: relative;
    width: 90%;
}

.img2 {
    position: absolute;
    align-self: flex-end;
}

.toma {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.sec {
    justify-content: flex-start;
}

.two {
    background-color: #fff;
}

.three {
    background-color: #fff;

}
.img4{
    height: 50vh;
    width: 90%;
    position: relative;
    
}

.img5 {
    position: absolute;
    align-self: flex-end;

}
.shadow {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: rgba(233, 17, 17, 0.2) 0px 8px 24px, rgba(236, 4, 4, 0.4) 0px 16px 56px, rgba(230, 4, 4, 0.3) 0px 24px 80px;
    background-color: transparent;
}
.main{
    align-content: start;
    
}
.two marquee {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 80px;
    color: #dfdbdb !important;
}
.ssectwo h6{
    color: orangered;
    font-weight: 700;
    margin-top: 1rem auto;
    margin-bottom: 2rem;
}
.ssectwo h1{
    font-weight: 700;
}
.ssectwo p{
    color: grey;
}
.btn1 {
    background-color: chocolate !important; 
    border: 2px solid #000;
    height: 50px;
    padding: 10px 10px 10px 10px !important;
    border-radius: 5%;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.special h1{
    color:rgb(212, 209, 27);
    font-size: 50px;
    font-style: italic;
    margin-top: 2rem;
    margin-left: 2rem;
}
.special h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 2rem;
}
.special p{
    color: #fff;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 2rem;
}
.special h3{
    color: chocolate;
    margin-top: 40px;
    margin-left: 2rem;
}
.special button{
    margin-left: 2rem;
}
.img6 {
    position: relative;
    width: 100%;
}

.img7 {
    position: absolute;
    align-self: flex-end;
}
.menu{
    color: orangered;
}

/* .special img{
    margin-top: 100px;
} */

/* .grill{
    background-color: #fff;
} */
.blog{
    background-color: #fff;
}
.btn2{
    background-color: chocolate !important; 
    border: 2px solid #000;
    height: 50px;
    padding: 10px 10px 10px 10px !important;
    border-radius: 5%;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    text-decoration: none;
    color: #fff;
}
.last{
    color: #fff;
    background: transparent;
}
.fb{
    width: 26px;
    opacity: 1;
    text-decoration: none;
}
.ytb,.twit{
    width: 30px;
    opacity: 1;
    text-decoration: none;
}
.insta{
    width: 35px;
    opacity: 1;
    text-decoration: none;
 }
 #lastInp{
    padding: 6px !important;
    border-radius: 9px !important;
    border: none;
    margin-bottom: 5px;
}
#lastbtn{
    color: black;
    background-color: chocolate !important;
    padding-right: 7px !important;
    padding-left: 7px !important;
    border-radius: 13px !important;
margin-top: 0%;
}





@media (min-width: 320px) and (max-width: 991.98px) {

    .btn {
        margin-bottom: 50px;
    }

    .main {
        margin-top: -35px !important;
    }

    .navs {
        margin-top: 20px;
    }

    .img2 {
        height: 200px;
        width: 200px;
    }
    .one h1 {
        margin-left: 1rem;
        font-size: 2rem
    }
    .one h6{
        margin-left: 1rem;
    } 
    .btn{
margin-left: 1rem;
    }
    .img4{
        height: 35vh;
        width: 70%;
        position: relative
    }
    .img5{
        height: 10rem;
        width: 10rem;
       
    }
}




@media (max-width: 375px) {

    .navs img {
        display: none;
    }

    .img2 {
        height: 160px;
        width: 160px;
    }
    .img5{
        height: 5rem;
        width: 5rem;
        
    }
}







/* .animate-grocery{
    overflow-x: hidden;
}

#grocery {
    width: 170px;
    position: relative;
    animation-name: grocery;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes grocery {
    0% {
        filter: drop-shadow(0.5px 0.5px 1px rgb(242, 237, 140));
        left: 0px;
        transform: rotateY(0deg);
    }
    50% {
        transform: translateX(calc(100vw - 160px));
    }
    50.01% {
        transform: translateX(calc(100vw - 160px)) rotateY(180deg);
    }
    100% {
        left: 0px;
        transform: translateX(0) rotateY(180deg);
        filter: drop-shadow(0.5px 0.5px 1px rgb(242, 237, 140));
    }
} */