* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/Background.jpg);
}

.small {
    color: darkgoldenrod;
    font-size: larger;
    align-content: center;
    margin-left: 100px !important;
}

.one h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.one h6{
    color: #fff;
}

.btn {
    background: orangered !important;
    margin-top: 50px;
}

.img1 {
    position: relative;
    width: 100%;
}

.img2 {
    position: absolute;
    align-self: flex-end;
}

.toma {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.sec {
    justify-content: flex-start;
}

.two {
    background-color: #fff;
}

.three {
    background-color: #fff;

}
.img4{
    height: 45vh;
    width: 70%;
}
.shadow {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: rgba(233, 17, 17, 0.2) 0px 8px 24px, rgba(236, 4, 4, 0.4) 0px 16px 56px, rgba(230, 4, 4, 0.3) 0px 24px 80px;
    background-color: transparent;
}

.two marquee {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 80px;
    color: #dfdbdb !important;
}
.ssectwo h6{
    color: orangered;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 50px;
}
.ssectwo h1{
    font-weight: 700;
}
.ssectwo p{
    color: grey;
}
.btn1 {
    background-color: chocolate !important; 
    border: 2px solid #000;
    height: 50px;
    padding: 10px 10px 10px 10px !important;
    border-radius: 5%;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.special h1{
    color:rgb(212, 209, 27);
    font-size: 50px;
    font-style: italic;
    margin-top: 100px;
}
.special h2{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
.special p{
    color: #fff;
    margin-bottom: 40px;
    margin-top: 50px;
}
.special h3{
    color: chocolate;
    margin-top: 40px;
}
.special img{
    margin-top: 100px;
}

/* .grill{
    background-color: #fff;
} */
.blog{
    background-color: #fff;
    justify-content: center;
}





@media (min-width: 320px) and (max-width: 991.98px) {

    .btn {
        margin-bottom: 50px;
    }

    .main {
        margin-top: -35px !important;
    }

    .navs {
        margin-top: 20px;
    }

    .img2 {
        height: 200px;
        width: 200px;
    }

}




@media (max-width: 375px) {

    .navs img {
        display: none;
    }

    .img2 {
        height: 160px;
        width: 160px;
    }
}







/* .animate-grocery{
    overflow-x: hidden;
}

#grocery {
    width: 170px;
    position: relative;
    animation-name: grocery;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes grocery {
    0% {
        filter: drop-shadow(0.5px 0.5px 1px rgb(242, 237, 140));
        left: 0px;
        transform: rotateY(0deg);
    }
    50% {
        transform: translateX(calc(100vw - 160px));
    }
    50.01% {
        transform: translateX(calc(100vw - 160px)) rotateY(180deg);
    }
    100% {
        left: 0px;
        transform: translateX(0) rotateY(180deg);
        filter: drop-shadow(0.5px 0.5px 1px rgb(242, 237, 140));
    }
} */